{% extends 'base.html' %}

{% block title %}{{ page_title }} - {{ block.super }}{% endblock %}

{% block content %}
  <h2>{{ page_title }}</h2>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}
    
    <h3>Основные данные (из профиля пользователя)</h3>
    <table>
        {{ user_form.as_table }}
    </table>
    
    <h3>Данные профиля агента</h3>
    <table>
        {{ agent_form.as_table }}
    </table>
    
    <button type="submit">Сохранить изменения</button>
  </form>
  <p><a href="{% url 'insurance_app:agent_dashboard' %}">Вернуться на панель агента</a></p>
  <p><a href="{% url 'insurance_app:password_change' %}">Сменить пароль</a></p>

{% endblock %} 