{% extends 'base.html' %}

{% block title %}Инструкции по сбросу пароля отправлены - {{ block.super }}{% endblock %}

{% block content %}
  <h2>Инструкции по сбросу пароля отправлены</h2>
  <p>Мы отправили вам по электронной почте инструкции по установке нового пароля. Вы должны получить их в ближайшее время.</p>
  <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым регистрировались, и проверьте папку со спамом.</p>
  <p><a href="{% url 'insurance_app:home' %}">Вернуться на главную</a></p>
{% endblock %} 