{% extends 'base.html' %}

{% block title %}Установка нового пароля - {{ block.super }}{% endblock %}

{% block content %}
  <h2>Установка нового пароля</h2>
  {% if validlink %}
    <p>Пожалуйста, введите ваш новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit">Установить новый пароль</button>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
    <p><a href="{% url 'insurance_app:password_reset' %}">Запросить новый сброс пароля</a></p>
  {% endif %}
{% endblock %} 